.mt-10{
    margin-top: 10px;
}

.mt-50{
    margin-top: 50px;
}

.ml-5{
    margin-left: 5px;
}

.footer-manual{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.background-nav{
    background-color: #6EA4CE;
}